<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" stopOnFailure="true" bootstrap="./bootstrap.php">
  <testsuites>
    <testsuite name="Unit test">
      <directory suffix="_test.php">./unit</directory>
    </testsuite>
    <testsuite name="Functional test">
      <directory suffix="_test.php">./functional</directory>
    </testsuite>
  </testsuites>
</phpunit>
